body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:670px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:670px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:670px;
  color:#F2F2F2;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:670px;
}
#u2 {
  position:absolute;
  left:2px;
  top:327px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:606px;
  overflow:hidden;
  touch-action:none;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:606px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:810px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:810px;
}
#u5 {
  position:absolute;
  left:2px;
  top:397px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:0px;
  width:318px;
  height:470px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:470px;
}
#u7 {
  position:absolute;
  left:2px;
  top:227px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:462px;
  width:318px;
  height:470px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:470px;
}
#u9 {
  position:absolute;
  left:2px;
  top:227px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:19px;
  width:318px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:104px;
  top:30px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:14px;
  top:32px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:283px;
  top:32px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1px;
  top:630px;
  width:318px;
  height:39px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:39px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:14px;
  top:32px;
  width:50px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
