body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:19px;
  width:318px;
  height:44px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:19px;
  top:34px;
  width:27px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:604px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:604px;
}
#u9 {
  position:absolute;
  left:2px;
  top:294px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:144px;
  top:360px;
  width:14px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:90px;
  top:332px;
  width:141px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:13px;
  width:137px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:90px;
  top:256px;
  width:141px;
  height:15px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
